asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography ~> 2.3
decorator==4.3.0
gevent==1.2.2
greenlet==0.4.13
grequests==0.3.0
idna==2.6
ntlm-auth==1.1.0
pip==9.0.1
pycparser==2.18
requests==2.18.4
requests-ntlm==1.1.0
setuptools==28.8.0
six==1.11.0
urllib3==1.22
validators==0.12.1
